{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block imagem %}
{% endblock%}

{% block conteudo %}
<div class="container responsive">
    <h3 class="title">{{ titulo }}</h3>
    <hr>
        <table class="table table-striped table-hover table-condesed">
            <tr>
                <th>DATA DE MATRÍCULA</th>
                <th>DOCUMENTO</th>
                <th>NOME</th>
                <th>DATA DE NASCIMENTO</th>
                <th>ALTURA</th>
                <th>PESO</th>
                <th>CONTATO</th>
                <th>ENDEREÇO</th>
                <th>OPÇÕES</th>
            </tr>
            {% for Aluno in object_list %}
            <tr>
                <td>{{ Aluno.data_matricula }}</td>
                <td>{{ Aluno.documento }}</td>
                <td>{{ Aluno.nome }}</td>
                <td>{{ Aluno.data_nascimento }}</td>
                <td>{{ Aluno.altura }}</td>
                <td>{{ Aluno.peso }}</td>
                <td>{{ Aluno.contato1 }}</td>
                <td>{{ Aluno.endereco }}</td>
                <td>
                    <a href="{% url 'editar-aluno' Aluno.pk %}" class="btn btn-warning btn-sm" data-toggle="tooltip" title="Editar">
                        <i class="fa fa-edit"></i>
                    </a>    
                    <a href="{% url 'excluir-aluno' Aluno.pk %}" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Excluir">
                        <i class="fa fa-trash"></i>
                    </a> 
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>
                    Sem conteúdo.
                </td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
                <a href="{% url 'cadastrar-aluno' %}" type="button" class="btn btn-success">
                    cadastrar
                </a>
            </div>
        </div>
</div>
<br>
{% endblock %}
